<!DOCTYPE html>
<html>
<head>
	<title>Asd</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Wowslider" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine0/style.css" />
	<script type="text/javascript" src="engine0/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>
<body style="background-color:#d7d7d7;margin:auto">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container0">
	<div class="ws_images"><ul>
		<li><img src="data0/images/imageslider3.jpg" alt="image-slider-3" title="image-slider-3" id="wows0_0"/></li>
		<li><img src="data0/images/imageslider4.jpg" alt="image-slider-4" title="image-slider-4" id="wows0_1"/></li>
		<li><img src="data0/images/imageslider5.jpg" alt="image-slider-5" title="image-slider-5" id="wows0_2"/></li>
		<li><a href="http://wowslider.net"><img src="data0/images/imageslider1.jpg" alt="http://wowslider.net/" title="image-slider-1" id="wows0_3"/></a></li>
		<li><img src="data0/images/imageslider2.jpg" alt="image-slider-2" title="image-slider-2" id="wows0_4"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="image-slider-3"><span><img src="data0/tooltips/imageslider3.jpg" alt="image-slider-3"/>1</span></a>
		<a href="#" title="image-slider-4"><span><img src="data0/tooltips/imageslider4.jpg" alt="image-slider-4"/>2</span></a>
		<a href="#" title="image-slider-5"><span><img src="data0/tooltips/imageslider5.jpg" alt="image-slider-5"/>3</span></a>
		<a href="#" title="image-slider-1"><span><img src="data0/tooltips/imageslider1.jpg" alt="image-slider-1"/>4</span></a>
		<a href="#" title="image-slider-2"><span><img src="data0/tooltips/imageslider2.jpg" alt="image-slider-2"/>5</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">wowslider</a> by WOWSlider.com v8.7</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine0/wowslider.js"></script>
	<script type="text/javascript" src="engine0/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>
</html>